<% content_for :page_title, t('pages.about.meta_title') %>
<% content_for :page_description, "" %>

<div class="max-w-5xl px-2 mx-auto mt-16">
  <h1 class="text-3xl"><%= t("pages.about.header") %></h1>

  <p class="mt-4 text-lg text-gray-700"><%= t("pages.about.intro") %></p>

  <p class="mt-8">And let's continue the story here…</p>
</div>


