<% content_for :page_title, t('pages.contact.meta_title') %>
<% content_for :page_description, "" %>

<div class="max-w-5xl px-2 mx-auto mt-16">
  <h1 class="mb-4 text-3xl"><%= t('pages.contact.header') %></h1>

  <p class="mb-8 text-lg text-gray-700"><%= t('pages.contact.intro') %></p>
</div>


