<p>
  Hello!
</p>

<p>
  You are invited to the <b><%= @team_scope.name %> team_scope</b> on <%= Rails.configuration.application_name %>.
</p>

<p>
  How to get started? Simply go to <%= link_to 'your dashboard for access', teams_url %>.
</p>


<p>
  Thanks!
</p>

<p>
  <%= @sender.name.full %>
</p>

